$enable-flex: true;
$primary-color: #FF6458;
$enable-rounded: false;
$enable-gradients: true;
$body-bg: #fefefe;
$brand-primary: #FF6458;
$navbar-dark-color: transparent;

@import 'bootstrap';
@import 'utils/variables';

.main-header {
  background: $primary-color;
  margin-bottom: 20px;
}

.nav-link, .navbar-brand {
  color: #fff;

  &:hover, &:focus {
    color: #fff;
    text-decoration: underline;
  }
}

.item-card {
  color: #fff;
  background: #fff;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  cursor: pointer;
}

.item-card-footer {
  width: 100%;
  background-color: rgba(132,132,132, 0.8);
  border-top: 0;
}

.item-card-title {
  color: #fff;
  margin-bottom: 0;
  font-size: 15px;

  a {
    color: inherit;
  }
}

.item-image-td {
  width: 110px;
}

.item-card-trash, .list-card-trash {
  float: right;
}

.form-horizontal .row {
  margin-bottom: 15px;
  position: relative;
}

.has-success .form-control-feedback {
  position: absolute;
  right: -5px;
  top: 3px;
}

.list-card {
  @extend .item-card;
}

.list-card-footer {
  @extend .item-card-footer;
}

.list-card-title {
  @extend .item-card-title;
}
