<div class="col-md-7 center-block">
  <div class="jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Keep Track of your Stuff</h1>
      <p class="lead">A simple web-based inventory manager</p>
      <p class="lead">
        {{#link-to 'list.index' role="button" class="btn btn-primary btn-lg"}}Get Started{{/link-to}}
      </p>
    </div>
  </div>
</div>
