<div class="col-md-12">
  <h1>About this Site</h1>

  <p>This web app is a simple tool to manage a list of personal possessions.</p>

  <p>I've developed it as a project to learn more about Ember.js</p>

  <p><a href="https://github.com/dermotbrennan/pim-frontend">View source code</a></p>
</div>
