<div class="col-md-8">

  <h1>Manage Account</h1>

  Hiya, {{sessionAccount.user.name}}.

  <hr>

  <h2>Change Details</h2>

  {{change-user-details model=model}}

  <hr>

  <h2>Change Password</h2>

  {{change-password model=model}}

</div>
