{{#if shouldShowSaveMessage}}
<div class="alert alert-success" role="alert">SAVED!</div>
{{/if}}

{{#bs-form formLayout="horizontal" model=model action="save"}}
  {{bs-form-element controlType="name" label="Name" placeholder="Name" property="name"}}
  {{bs-button defaultText="Save" type="primary" buttonType="submit" disabled=isNotValid}}
{{/bs-form}}
