
<div class="card-deck">
  {{#each items as |item|}}
    <div class="card">
      <div class="card-block">
        {{#if item.image_medium_url}}
          <img src={{item.image_medium_url}} alt="{{item.name}}">
        {{/if}}
        <h4 class="card-title">
          {{#link-to 'item.edit' item.id class="card-link"}}{{item.name}}{{/link-to}}
        </h4>
        {{#if item.value}}
        <p class="card-text"><small class="text-muted">&euro;{{item.value}}</small></p>
        {{/if}}
      </div>
    </div>
  {{/each}}
  <div class="card card-inverse card-primary text-xs-center">
    <div class="card-block">
      <h4 class="card-title">
        {{#link-to 'item.new' class="card-link"}}Add Item{{/link-to}}
      </h4>
    </div>
  </div>
</div>
