<div class="container-fluid main-header">
  <nav class="navbar">
    <div class="container">
      {{#link-to 'index' class="navbar-brand"}}Personal Inventory Manager{{/link-to}}
      {{user-bar}}
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    {{outlet}}
  </div>
</div>
